@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/* モダンリセットCSS */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2EDE9;
  font-family: 'M PLUS 1p', sans-serif;
  overflow-x: hidden;
}

body.is-fixed {
  overflow: hidden;
}

body.is-fixed::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.l-archive-main {
  background-color: #FFFDFA;
  width: 100%;
}

.l-search-main {
  background-color: #FFFDFA;
  width: 100%;
}

.l-container {
  display: block;
  position: relative;
}

@media (min-width: 1200px) {
  .l-container {
    display: grid;
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 22%;
  }
}

.l-header {
  grid-row: 1;
  grid-column: 1/2;
}

.l-sidebar {
  grid-row: 1;
  grid-column: 2;
}

.l-main, .l-archive-main, .l-search-main, .l-single-main, .l-page-main, .l-error-404-main {
  grid-row: 2;
  grid-column: 1;
}

.l-footer {
  grid-row: 3;
  grid-column: 1/3;
}

.l-header {
  background-color: #FFF7EF;
  height: 217px;
}

.l-main {
  background-color: #FFFDFA;
}

.l-sidebar {
  display: block;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 100%;
  transition: left .3s;
  width: 87.5%;
  z-index: 1000;
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .l-sidebar {
    width: 44%;
  }
}

@media (min-width: 1200px) {
  .l-sidebar {
    display: block;
    position: static;
    width: 100%;
    background-color: #F2EDE9;
    overflow: inherit;
  }
}

.l-footer {
  height: 150px;
  width: 100%;
  text-align: center;
  background-image: url(../images/footer_img.png);
}

.l-single-main {
  background-color: #FFFDFA;
  width: 100%;
}

.l-page-main {
  background-color: #FFFDFA;
  width: 100%;
}

.l-error-404-main {
  background-color: #FFFDFA;
}

/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
.c-button--submit {
  display: inline-block;
  position: relative;
  font-weight: normal;
  border: 1px solid #707070;
  cursor: pointer;
}

.p-button--responsive {
  text-align: right;
}

.p-button--responsive .c-button--menu {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF7EF;
  color: #707070;
  border: none;
  cursor: pointer;
  position: relative;
}

.c-close__button {
  display: block;
  position: relative;
  top: 40px;
  text-align: right;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .c-close__button {
    display: none;
  }
}

.c-close__button::before, .c-close__button::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  width: 5px;
  /* 棒の幅（太さ） */
  height: 32px;
  /* 棒の高さ */
  background: #707070;
}

.c-close__button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-close__button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-input--keyword {
  width: 230px;
  padding-left: 10px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: black;
  content: "\f002";
  font-weight: normal;
  height: 46px;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 25px;
}

@media (min-width: 600px) {
  .c-input--keyword {
    width: 396px;
  }
}

@media (min-width: 1200px) {
  .c-input--keyword {
    width: 280px;
  }
}

.l-error-404-main .error-404 {
  width: 90%;
  color: #3C2A10;
  height: 1200px;
}

.l-error-404-main .error-404 .error-404-title {
  font-size: 20px;
}

@media (min-width: 600px) {
  .l-error-404-main .error-404 .error-404-title {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .l-error-404-main .error-404 .error-404-title {
    font-size: 40px;
  }
}

.l-error-404-main .error-404 p {
  font-size: 16px;
}

@media (min-width: 600px) {
  .l-error-404-main .error-404 p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .l-error-404-main .error-404 p {
    font-size: 20px;
  }
}

/* Project
   ----------------------------------------------------------------- */
.p-access__map {
  background-image: url(../images/front-page_screenshot.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.p-access {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 691px;
}

@media (min-width: 600px) {
  .p-access {
    height: 415px;
  }
}

@media (min-width: 1200px) {
  .p-access {
    height: 650px;
  }
}

.p-access__back {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 415px;
}

@media (min-width: 600px) {
  .p-access__back {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .p-access__back {
    width: 61.5%;
    height: 100%;
  }
}

.p-access__back .p-access__text {
  color: #FFFFFF;
  font-weight: bold;
  width: 78.6%;
}

@media (min-width: 600px) {
  .p-access__back .p-access__text {
    width: 91.4%;
  }
}

@media (min-width: 1200px) {
  .p-access__back .p-access__text {
    width: 73%;
  }
}

.p-access__back .p-access__text h2 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

@media (min-width: 1200px) {
  .p-access__back .p-access__text h2 {
    font-size: 36px;
  }
}

.p-access__back .p-access__text h2::before {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 65px;
}

@media (min-width: 1200px) {
  .p-access__back .p-access__text h2::before {
    top: 107px;
  }
}

.p-access__back .p-access__text p {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.35;
}

@media (min-width: 1200px) {
  .p-access__back .p-access__text p {
    font-size: 16px;
    line-height: 2;
  }
}

.p-archive-menu-top .p-archive-main__heading-text {
  color: #3C2A10;
}

.p-archive-menu-top .p-archive-main__heading-text h3 {
  font-size: 28px;
  font-weight: bold;
}

.p-archive-menu-top .p-archive-main__heading-text p {
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu {
    display: flex;
  }
}

.p-archive-main-visual .p-archive-burger-menu img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu img {
    width: 50%;
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu img {
    width: 50%;
    height: 470px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction {
  height: 360px;
  background-color: #3C2B1C;
  color: #FFFFFF;
  text-align: left;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction {
    width: 50%;
    height: 470px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h4 {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h4 {
    font-size: 2.4vw;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h4 {
    font-size: 2.1vw;
    white-space: nowrap;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h5 {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h5 {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h5 {
    font-size: 2vw;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction p {
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction p {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction p {
    font-size: 16px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail {
  text-align: center;
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail a {
  display: inline-block;
  background-color: #FFFFFF;
  color: #707070;
  text-decoration: none;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 16px;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail a {
    width: 60%;
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail a {
    width: 55%;
    height: 60px;
    border-radius: 30px;
    line-height: 40px;
    font-size: 16px;
  }
}

.p-archive-top-back {
  background-color: #000000;
  width: 100%;
  height: 283px;
}

@media (min-width: 1200px) {
  .p-archive-top-back {
    height: 240px;
  }
}

.p-archive-top-visual {
  background-image: url(../images/archive_top_img.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  align-items: center;
}

@media (min-width: 600px) {
  .p-archive-top-visual {
    display: flex;
  }
}

.p-archive-top-visual h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px) {
  .p-archive-top-visual h2 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .p-archive-top-visual h2 {
    font-size: 60px;
  }
}

.p-archive-top-visual p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.p-arrow {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  height: 115px;
}

@media (min-width: 600px) {
  .p-arrow {
    height: 170px;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .p-arrow {
    height: 250px;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .p-arrow-left-block {
    display: flex;
  }
}

.p-arrow .p-arrow-text {
  color: #707070;
  text-decoration: none;
}

@media (min-width: 600px) {
  .p-arrow .p-arrow-text {
    display: none;
  }
}

.wp-pagenavi {
  text-align: center;
  line-height: 28px;
}

.wp-pagenavi a {
  display: inline-block;
  color: #707070;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  width: 35px;
  height: 35px;
}

.wp-pagenavi span {
  display: inline-block;
  background-color: #3C2B1C;
  color: #FFFFFF;
  font-weight: bold;
  width: 35px;
  height: 35px;
}

.p-arrow {
  width: 100%;
}

.p-arrow .p-pagination {
  width: 100%;
}

.p-arrow .p-pagination .wp-pagenavi {
  width: 100%;
}

.p-arrow .p-pagination .wp-pagenavi span, .p-arrow .p-pagination .wp-pagenavi .larger, .p-arrow .p-pagination .wp-pagenavi .smaller {
  display: none;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination .wp-pagenavi span, .p-arrow .p-pagination .wp-pagenavi .larger, .p-arrow .p-pagination .wp-pagenavi .smaller {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .p-arrow .p-pagination .wp-pagenavi span, .p-arrow .p-pagination .wp-pagenavi .larger, .p-arrow .p-pagination .wp-pagenavi .smaller {
    display: inline-block;
  }
}

.p-arrow .p-pagination .wp-pagenavi .larger:hover {
  background-color: #3C2B1C;
  color: #FFFFFF;
  cursor: pointer;
}

.p-arrow .p-pagination .wp-pagenavi .smaller:hover {
  background-color: #3C2B1C;
  color: #FFFFFF;
  cursor: pointer;
}

.p-arrow .p-pagination .wp-pagenavi .previouspostslink, .p-arrow .p-pagination .wp-pagenavi .nextpostslink {
  border: none;
  font-size: 30px;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination .wp-pagenavi .previouspostslink, .p-arrow .p-pagination .wp-pagenavi .nextpostslink {
    font-size: 16px;
  }
}

.p-arrow .p-pagination .wp-pagenavi .previouspostslink {
  float: left;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination .wp-pagenavi .previouspostslink {
    float: none;
  }
}

.p-arrow .p-pagination .wp-pagenavi .nextpostslink {
  float: right;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination .wp-pagenavi .nextpostslink {
    float: none;
  }
}

.p-branch-menu {
  height: 1374px;
  width: 100%;
}

@media (min-width: 600px) {
  .p-branch-menu {
    height: 761px;
  }
}

@media (min-width: 1200px) {
  .p-branch-menu {
    height: 1447px;
  }
}

.p-branch-menu ul {
  display: block;
}

@media (min-width: 600px) {
  .p-branch-menu ul {
    display: flex;
    justify-content: center;
  }
}

.p-footer__menu {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.p-footer__menu .footer-class ul {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.p-footer__menu .footer-class ul .menu-item-110 {
  position: relative;
}

.p-footer__menu .footer-class ul .menu-item-110::before {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background-color: #FFFFFF;
  position: absolute;
  top: 5px;
  left: 135px;
}

.p-footer__menu .footer-class ul a {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  font-size: 14px;
  color: #FFFFFF;
}

.p-header__sub {
  display: block;
  text-align: center;
}

@media (min-width: 1200px) {
  .p-header__sub {
    display: flex;
    justify-content: space-between;
  }
}

h1 a {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  text-decoration: none;
}

@media (min-width: 1200px) {
  h1 a {
    font-size: 64px;
  }
}

.p-take-out {
  background-image: url(../images/front-page_main_img01.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  width: 89%;
}

@media (min-width: 600px) {
  .p-take-out {
    height: 681px;
    width: 42.8%;
  }
}

@media (min-width: 1200px) {
  .p-take-out {
    height: 1200px;
    width: 40%;
  }
}

.p-take-out h2 {
  font-size: 41px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

@media (min-width: 600px) {
  .p-take-out h2 {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .p-take-out h2 {
    font-size: 70px;
  }
}

.p-take-out h2 a {
  color: #EAEAEA;
  text-decoration: none;
}

.p-take-out h2::before {
  content: "";
  display: block;
  width: 63px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 75px;
}

@media (min-width: 600px) {
  .p-take-out h2::before {
    top: 70px;
  }
}

@media (min-width: 600px) and (min-width: 1200px) {
  .p-take-out h2::before {
    top: 150px;
  }
}

.p-take-out__section1, .p-take-out__section2 {
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 94%;
  height: 163px;
}

@media (min-width: 600px) {
  .p-take-out__section1, .p-take-out__section2 {
    width: 93.5%;
    height: 172px;
  }
}

@media (min-width: 1200px) {
  .p-take-out__section1, .p-take-out__section2 {
    width: 90%;
    height: 175px;
  }
}

.p-take-out__section1 dt, .p-take-out__section2 dt {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-take-out__section1 dt, .p-take-out__section2 dt {
    font-size: 24px;
  }
}

.p-take-out__section1 dd, .p-take-out__section2 dd {
  color: #3C2A10;
}

.p-eat-in {
  background-image: url(../images/front-page_main_img02.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  width: 89%;
}

@media (min-width: 600px) {
  .p-eat-in {
    height: 681px;
    width: 42.8%;
  }
}

@media (min-width: 1200px) {
  .p-eat-in {
    height: 1200px;
    width: 40%;
  }
}

.p-eat-in h2 {
  font-size: 41px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

@media (min-width: 600px) {
  .p-eat-in h2 {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .p-eat-in h2 {
    font-size: 70px;
  }
}

.p-eat-in h2 a {
  color: #EAEAEA;
  text-decoration: none;
}

.p-eat-in h2::before {
  content: "";
  display: block;
  width: 63px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 75px;
}

@media (min-width: 600px) {
  .p-eat-in h2::before {
    top: 70px;
  }
}

@media (min-width: 600px) and (min-width: 1200px) {
  .p-eat-in h2::before {
    top: 150px;
  }
}

.p-eat-in__section1, .p-eat-in__section2 {
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 94%;
  height: 163px;
}

@media (min-width: 600px) {
  .p-eat-in__section1, .p-eat-in__section2 {
    width: 93.5%;
    height: 172px;
  }
}

@media (min-width: 1200px) {
  .p-eat-in__section1, .p-eat-in__section2 {
    width: 90%;
    height: 175px;
  }
}

.p-eat-in__section1 dt, .p-eat-in__section2 dt {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-eat-in__section1 dt, .p-eat-in__section2 dt {
    font-size: 24px;
  }
}

.p-eat-in__section1 dd, .p-eat-in__section2 dd {
  color: #3C2A10;
}

.p-mask {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.p-button--responsive .c-button--menu {
  font-size: 20px;
  top: 15px;
  right: 15px;
}

@media (min-width: 600px) {
  .p-button--responsive .c-button--menu {
    font-size: 34px;
    top: 20px;
    right: 25px;
  }
}

@media (min-width: 1200px) {
  .p-button--responsive .c-button--menu {
    display: none;
  }
}

.p-search-form .c-button--submit {
  top: -3.5px;
  height: 46px;
  width: 80px;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .p-search-form .c-button--submit {
    width: 136px;
  }
}

@media (min-width: 1200px) {
  .p-search-form .c-button--submit {
    width: 80px;
  }
}

.p-search-menu-top .p-search-main__heading-text {
  color: #3C2A10;
}

.p-search-menu-top .p-search-main__heading-text h3 {
  font-size: 28px;
  font-weight: bold;
}

.p-search-menu-top .p-search-main__heading-text p {
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu {
    display: flex;
  }
}

.p-search-main-visual .p-search-burger-menu img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu img {
    width: 50%;
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu img {
    width: 50%;
    height: 470px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction {
  height: 360px;
  background-color: #3C2B1C;
  color: #FFFFFF;
  text-align: left;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction {
    width: 50%;
    height: 470px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h4 {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h4 {
    font-size: 2.4vw;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h4 {
    font-size: 2.1vw;
    white-space: nowrap;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h5 {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h5 {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h5 {
    font-size: 2vw;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction p {
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction p {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction p {
    font-size: 16px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail {
  text-align: center;
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail a {
  display: inline-block;
  background-color: #FFFFFF;
  color: #707070;
  text-decoration: none;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 16px;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail a {
    width: 60%;
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail a {
    width: 55%;
    height: 60px;
    border-radius: 30px;
    line-height: 40px;
    font-size: 16px;
  }
}

.no-result {
  color: #3C2A10;
}

.p-search-top-back {
  background-color: #000000;
  width: 100%;
  height: 283px;
}

@media (min-width: 1200px) {
  .p-search-top-back {
    height: 240px;
  }
}

.p-search-top-visual {
  background-image: url(../images/archive-search_top_img.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  align-items: center;
}

@media (min-width: 600px) {
  .p-search-top-visual {
    display: flex;
  }
}

.p-search-top-visual h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px) {
  .p-search-top-visual h2 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .p-search-top-visual h2 {
    font-size: 60px;
  }
}

.p-search-top-visual p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.p-gmenu {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #F2EDE9;
  top: 0;
  right: 0;
}

@media (min-width: 600px) {
  .p-gmenu {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .p-gmenu {
    position: static;
    width: 100%;
  }
}

.p-gmenu .add-class ul .menu-item-type-taxonomy > a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #707070;
}

.p-side-menu-logo {
  display: none;
}

@media (min-width: 1200px) {
  .p-side-menu-logo {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    color: #707070;
  }
}

.p-gmenu ul li a {
  font-size: 20px;
  color: #707070;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .p-gmenu ul li a {
    font-size: 20px;
  }
}

.is-open {
  left: 12.5%;
}

@media (min-width: 600px) {
  .is-open {
    left: 56%;
  }
}

.p-top-visual {
  background-image: url(../images/front-page_top_img.png);
  width: 100%;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .p-top-visual {
    height: 530px;
  }
}

.p-top-visual h2 {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .p-top-visual h2 {
    font-size: 40px;
  }
}

.p-single-top-visual img {
  object-fit: cover;
  height: 225px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

@media (min-width: 600px) {
  .p-single-top-visual img {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .p-single-top-visual img {
    height: 500px;
  }
}

.p-single-top-visual h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 310px;
  left: 0;
}

@media (min-width: 600px) {
  .p-single-top-visual h1 {
    top: 425px;
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .p-single-top-visual h1 {
    top: 425px;
    font-size: 60px;
  }
}

.p-single-menu-top .p-single-main__heading-text {
  color: #3C2A10;
}

.p-single-menu-top .p-single-main__heading-text h2 {
  font-size: 28px;
  font-weight: bold;
}

.p-single-menu-top .p-single-main__heading-text .ptag-text {
  font-size: 16px;
}

.p-single-menu-top .p-single-main__heading-text h3 {
  font-size: 24px;
  font-weight: bold;
}

.p-single-menu-top .p-single-main__heading-text h4 {
  font-size: 20px;
  font-weight: bold;
}

.p-single-menu-top .p-single-main__heading-text h5 {
  font-size: 20px;
  font-weight: bold;
}

.p-single-menu-top .p-single-main__heading-text h6 {
  font-size: 20px;
  font-weight: bold;
}

.p-single-menu-top .p-single-main__heading-text .citation-block {
  background-color: #F5F5F5;
}

.p-single-menu-top .p-single-main__heading-text .citation-block .blockquote {
  font-size: 16px;
}

.p-single-menu-top .p-single-main__heading-text .citation-block .source {
  font-size: 16px;
}

.p-single-menu-top .p-single-main__heading-text .citation-block .source a {
  color: #4A6C9B;
}

.l-single-main {
  height: 1200px;
}

.l-single-main .p-single-menu-top .p-single-main-visual {
  color: #3C2A10;
}

.l-single-main .p-single-menu-top .p-single-main-visual .top-img {
  width: 100%;
  height: 124px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .top-img {
    height: 265px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .top-img {
    height: 500px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box {
  display: flex;
  justify-content: space-between;
  height: 173px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box {
    height: 365px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box {
    height: 358px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box .left-img {
  width: 42%;
  height: 90px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box .left-img {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box .left-img {
    height: 100%;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-left-img-box p {
  width: 54%;
  height: 100%;
  overflow: hidden;
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
  display: flex;
  justify-content: space-between;
  height: 173px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
    height: 365px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
    height: 358px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box p {
  width: 54%;
  height: 100%;
  overflow: hidden;
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box .right-img {
  width: 42%;
  height: 90px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box .right-img {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box .right-img {
    height: 100%;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .center-img {
  display: block;
  width: 70%;
  height: 165px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .center-img {
    height: 360px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .img-group {
  text-align: center;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo {
  width: 100%;
  height: 205px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo {
    height: 357px;
  }
}

.l-single-main .p-single-menu-top .p-list-text {
  color: #3C2A10;
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-code {
  font-size: 16px;
  width: 100%;
  height: 240px;
  background-color: #F5F5F5;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box {
  border-collapse: collapse;
  width: 100%;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box-short {
  width: 30%;
  height: 80px;
  border: 1px solid #707070;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box-long {
  width: 70%;
  height: 80px;
  border: 1px solid #707070;
}

.l-single-main .p-single-menu-top .bold-text {
  font-weight: bold;
  color: #3C2A10;
}

.p-single-form .c-button--submit {
  top: -3.5px;
  height: 80px;
  width: 100%;
  color: #3C2A10;
  font-weight: bold;
  background-color: #F2EDE9;
  border-radius: 20px;
}

@media (min-width: 600px) {
  .p-single-form .c-button--submit {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .p-single-form .c-button--submit {
    width: 30%;
  }
}

.c-button--submit .is-style-outline {
  top: -3.5px;
  height: 80px;
  width: 100%;
  color: #3C2A10;
  font-weight: bold;
  background-color: #F2EDE9;
  border-radius: 20px;
}

@media (min-width: 600px) {
  .c-button--submit .is-style-outline {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .c-button--submit .is-style-outline {
    width: 30%;
  }
}

.l-page-main .p-page-menu-top {
  color: #3C2A10;
}

.l-page-main .p-page-menu-top .p-list-group-code {
  font-size: 16px;
  width: 100%;
  height: 240px;
  background-color: #F5F5F5;
}

.l-page-main .p-page-menu-top .p-table-box {
  border-collapse: collapse;
  width: 100%;
}

.l-page-main .p-page-menu-top .p-table-box-short {
  width: 30%;
  height: 80px;
  border: 1px solid #707070;
}

.l-page-main .p-page-menu-top .p-table-box-long {
  width: 70%;
  height: 80px;
  border: 1px solid #707070;
}

.l-page-main .p-page-menu-top .bold-text {
  font-weight: bold;
  color: #3C2A10;
}

.p-page-menu-top {
  color: #3C2A10;
}

.p-page-menu-top h2 {
  font-size: 28px;
  font-weight: bold;
}

.p-page-menu-top .ptag-text {
  font-size: 16px;
}

.p-page-menu-top h3 {
  font-size: 24px;
  font-weight: bold;
}

.p-page-menu-top h4 {
  font-size: 20px;
  font-weight: bold;
}

.p-page-menu-top h5 {
  font-size: 20px;
  font-weight: bold;
}

.p-page-menu-top h6 {
  font-size: 20px;
  font-weight: bold;
}

.p-page-menu-top .citation-block {
  background-color: #F5F5F5;
}

.p-page-menu-top .citation-block .blockquote {
  font-size: 16px;
}

.p-page-menu-top .citation-block .source {
  font-size: 16px;
}

.p-page-menu-top .citation-block .source a {
  color: #4A6C9B;
}

.l-page-main .p-page-menu-top {
  color: #3C2A10;
}

.l-page-main .p-page-menu-top .center-img {
  height: 184px;
  width: 100%;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .center-img {
    height: 385px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .center-img {
    height: 620px;
  }
}

.l-page-main .p-page-menu-top .center-img figure img {
  width: 100%;
  height: 124px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .center-img figure img {
    height: 265px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .center-img figure img {
    height: 500px;
  }
}

.l-page-main .p-page-menu-top .p-page-left-img-box {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-left-img-box {
    height: 365px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .p-page-left-img-box {
    height: 350px;
  }
}

.l-page-main .p-page-menu-top .p-page-left-img-box figure img {
  width: 90%;
  height: 90px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-left-img-box figure img {
    width: 90%;
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .p-page-left-img-box figure img {
    width: 90%;
    height: 360px;
  }
}

.l-page-main .p-page-menu-top .p-page-left-img-box p {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-left-img-box p {
    width: 100%;
    height: 360px;
  }
}

.l-page-main .p-page-menu-top .p-page-right-img-box {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box {
    height: 365px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box {
    height: 350px;
  }
}

.l-page-main .p-page-menu-top .p-page-right-img-box figure img {
  width: 90%;
  height: 90px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box figure img {
    width: 90%;
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box figure img {
    width: 90%;
    height: 360px;
  }
}

.l-page-main .p-page-menu-top .p-page-right-img-box p {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box p {
    width: 100%;
    height: 360px;
  }
}

.l-page-main .center-img-bottom figure img {
  display: block;
  width: 100%;
  height: 165px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .l-page-main .center-img-bottom figure img {
    height: 360px;
  }
}

@media (min-width: 600px) {
  .l-page-main .img-group ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .img-group ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.l-page-main .img-group ul figure img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .l-page-main .img-group ul figure img {
    height: 357px;
  }
}

.p-page-top-visual {
  background-image: url(../images/page_top_img.png);
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .p-page-top-visual {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .p-page-top-visual {
    height: 500px;
  }
}

.p-page-top-visual h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px) {
  .p-page-top-visual h1 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .p-page-top-visual h1 {
    font-size: 60px;
  }
}

/* Utility
   ----------------------------------------------------------------- */
@media (min-width: 600px) {
  .p-archive-top-visual p {
    margin-left: 20px;
  }
}

.p-archive-menu-top .p-archive-main__heading-text h3 {
  margin: 30px 0 30px 0;
}

.p-archive-main-visual {
  margin: 20px 20px 0 20px;
}

@media (min-width: 600px) {
  .p-archive-main-visual {
    margin: 40px 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .p-archive-main-visual {
    margin: 30px 100px 0 100px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction h5 {
  margin: 25px 0 10px 0;
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail {
  margin: 100px auto 45px;
}

@media (min-width: 1200px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail {
    margin: 150px auto 0;
  }
}

.p-arrow-left-block .p-left-arrow {
  margin: 8px 0 0 0;
}

.p-arrow-left-block .p-left-arrow::before {
  margin-top: -4px;
}

.p-arrow-left-block .p-left-arrow::after {
  margin-top: -4px;
}

.p-arrow-left-block .p-page-display {
  margin: 8px 0 0 10px;
}

.p-arrow .p-arrow-before-text {
  margin-left: 20px;
}

.p-arrow .p-pagination-box {
  margin-left: 30px;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination-box .p-pagination-namber {
    margin-right: 12px;
  }
}

@media (min-width: 1200px) {
  .p-arrow .p-pagination-box .p-pagination-namber {
    margin-right: 15px;
  }
}

.p-arrow-right-block {
  margin-right: 20px;
}

.p-arrow-right-block .p-right-arrow {
  margin: 8px 0 0 0;
}

.p-arrow-right-block .p-right-arrow::before {
  margin-top: -4px;
}

.p-arrow-right-block .p-right-arrow::after {
  margin-top: -4px;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination .wp-pagenavi a, .p-arrow .p-pagination .wp-pagenavi span {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .p-arrow .p-pagination .wp-pagenavi a, .p-arrow .p-pagination .wp-pagenavi span {
    margin-right: 15px;
  }
}

.p-arrow .p-pagination .wp-pagenavi .previouspostslink {
  margin-left: 20px;
}

.p-arrow .p-pagination .wp-pagenavi .nextpostslink {
  margin-right: 20px;
}

.p-archive-top-visual {
  padding: 100px 0 0 38px;
}

@media (min-width: 600px) {
  .p-archive-top-visual {
    padding: 0 0 0 85px;
  }
}

.p-archive-main__heading-text {
  padding: 0 20px 0 20px;
}

@media (min-width: 600px) {
  .p-archive-main__heading-text {
    padding: 0 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .p-archive-main__heading-text {
    padding: 0 100px 0 100px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction_sub {
  padding: 32px 70px 0 20px;
}

@media (min-width: 600px) {
  .p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction_sub {
    padding: 32px 40px 0 35px;
  }
}

.p-archive-main-visual .p-archive-burger-menu .p-archive-menu_introduction .p-archive-detail a {
  padding: 10px 42px;
}

.p-arrow {
  padding-top: 65px;
}

@media (min-width: 600px) {
  .p-arrow {
    padding-top: 105px;
  }
}

@media (min-width: 1200px) {
  .p-arrow {
    padding-top: 150px;
  }
}

.p-arrow-left-block .p-left-arrow {
  padding: 0 0 15px 20px;
}

.p-arrow-right-block .p-right-arrow {
  padding: 0 0 15px 20px;
}

.l-header .p-header__sub {
  margin-top: 15px;
}

@media (min-width: 600px) {
  .l-header .p-header__sub {
    margin-top: -5px;
  }
}

@media (min-width: 1200px) {
  .l-header .p-header__sub {
    margin-top: 35px;
  }
}

@media (min-width: 1200px) {
  .l-header .p-header__sub h1 {
    margin: 30px 0 0 65px;
  }
}

.l-header .p-header__sub .p-search-form {
  margin-top: 27px;
}

@media (min-width: 1200px) {
  .l-header .p-header__sub .p-search-form {
    margin: 50px 30px 0 0;
  }
}

.l-header .p-header__sub .p-search-form .c-button--submit {
  margin-left: 7px;
}

.l-sidebar .add-class ul .menu-item-type-taxonomy > a {
  margin-bottom: 40px;
}

.l-sidebar .p-side-menu-logo {
  margin: 82px 0 85px 45px;
}

.l-sidebar .c-close__button {
  margin-right: 35px;
}

.l-sidebar .p-sidebar__burger {
  margin-top: 210px;
}

@media (min-width: 1200px) {
  .l-sidebar .p-sidebar__burger {
    margin-top: 0;
  }
}

.l-sidebar .p-sidebar__burger, .l-sidebar .p-sidebar__side, .l-sidebar .p-sidebar__drink {
  margin-left: 45px;
}

@media (min-width: 1200px) {
  .l-sidebar .p-sidebar__burger, .l-sidebar .p-sidebar__side, .l-sidebar .p-sidebar__drink {
    margin-left: 20px;
  }
}

.l-sidebar .p-sidebar__burger ul, .l-sidebar .p-sidebar__side ul, .l-sidebar .p-sidebar__drink ul {
  margin-left: 20px;
}

.l-sidebar .p-sidebar__burger ul li, .l-sidebar .p-sidebar__side ul li, .l-sidebar .p-sidebar__drink ul li {
  margin-bottom: 23px;
}

.l-sidebar .p-sidebar__burger ul li:last-child, .l-sidebar .p-sidebar__side ul li:last-child, .l-sidebar .p-sidebar__drink ul li:last-child {
  margin-bottom: 40px;
}

.p-take-out {
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  .p-take-out {
    margin: 40px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .p-take-out {
    margin: 120px 0 0 0;
  }
}

.p-take-out h2 {
  margin: 15px 0 0 20px;
}

.p-take-out__section1 {
  margin: 235px auto 10px;
}

@media (min-width: 1200px) {
  .p-take-out__section1 {
    margin: 670px auto 20px;
  }
}

.p-take-out__section2 {
  margin: 0 auto;
}

.p-eat-in {
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  .p-eat-in {
    margin: 40px 0 0 40px;
  }
}

@media (min-width: 1200px) {
  .p-eat-in {
    margin: 120px 0 0 80px;
  }
}

.p-eat-in h2 {
  margin: 15px 0 0 20px;
}

.p-eat-in__section1 {
  margin: 235px auto 10px;
}

@media (min-width: 1200px) {
  .p-eat-in__section1 {
    margin: 670px auto 20px;
  }
}

.p-eat-in__section2 {
  margin: 0 auto;
}

.p-access__text {
  margin: 0 auto;
}

.p-access__text h2 {
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .p-access__text h2 {
    margin-top: 80px;
  }
}

.p-access__text p {
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .p-access__text p {
    margin-top: 105px;
  }
}

.p-footer__menu li:nth-child(1) {
  margin-right: 17px;
}

.p-footer__menu li:nth-child(2) {
  margin-left: 17px;
}

.p-top-visual h2 {
  padding-left: 25px;
}

@media (min-width: 600px) {
  .p-top-visual h2 {
    padding-left: 85px;
  }
}

.p-take-out dt, .p-eat-in dt {
  padding: 20px 20px 0 20px;
}

@media (min-width: 1200px) {
  .p-take-out dt, .p-eat-in dt {
    padding: 20px 20px 0 20px;
  }
}

.p-take-out dd, .p-eat-in dd {
  padding: 23px 20px 0 20px;
}

@media (min-width: 1200px) {
  .p-take-out dd, .p-eat-in dd {
    padding: 23px 20px 0 20px;
  }
}

.p-footer__menu {
  padding: 40px 0 35px;
}

@media (min-width: 600px) {
  .p-search-top-visual p {
    margin-left: 20px;
  }
}

.p-search-menu-top .p-search-main__heading-text h3 {
  margin: 30px 0 30px 0;
}

.p-search-main-visual {
  margin: 20px 20px 0 20px;
}

@media (min-width: 600px) {
  .p-search-main-visual {
    margin: 40px 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .p-search-main-visual {
    margin: 30px 100px 0 100px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction h5 {
  margin: 25px 0 10px 0;
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail {
  margin: 50px auto 45px;
}

@media (min-width: 1200px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail {
    margin: 80px auto 0;
  }
}

.no-result {
  margin: 50px 20px 0 20px;
}

@media (min-width: 600px) {
  .no-result {
    margin: 50px 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .no-result {
    margin: 50px 100px 500px 100px;
  }
}

.p-arrow-left-block .p-left-arrow {
  margin: 8px 0 0 0;
}

.p-arrow-left-block .p-left-arrow::before {
  margin-top: -4px;
}

.p-arrow-left-block .p-left-arrow::after {
  margin-top: -4px;
}

.p-arrow-left-block .p-page-display {
  margin: 8px 0 0 10px;
}

.p-arrow .p-arrow-before-text {
  margin-left: 20px;
}

.p-arrow .p-pagination-box {
  margin-left: 30px;
}

@media (min-width: 600px) {
  .p-arrow .p-pagination-box .p-pagination-namber {
    margin-right: 12px;
  }
}

@media (min-width: 1200px) {
  .p-arrow .p-pagination-box .p-pagination-namber {
    margin-right: 15px;
  }
}

.p-arrow-right-block {
  margin-right: 20px;
}

.p-arrow-right-block .p-right-arrow {
  margin: 8px 0 0 0;
}

.p-arrow-right-block .p-right-arrow::before {
  margin-top: -4px;
}

.p-arrow-right-block .p-right-arrow::after {
  margin-top: -4px;
}

.p-search-top-visual {
  padding: 100px 0 0 38px;
}

@media (min-width: 600px) {
  .p-search-top-visual {
    padding: 0 0 0 85px;
  }
}

.p-search-main__heading-text {
  padding: 0 20px 0 20px;
}

@media (min-width: 600px) {
  .p-search-main__heading-text {
    padding: 0 40px 0 40px;
  }
}

@media (min-width: 1200px) {
  .p-search-main__heading-text {
    padding: 0 100px 0 100px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction_sub {
  padding: 32px 70px 0 20px;
}

@media (min-width: 600px) {
  .p-search-main-visual .p-search-burger-menu .p-search-menu_introduction_sub {
    padding: 32px 40px 0 35px;
  }
}

.p-search-main-visual .p-search-burger-menu .p-search-menu_introduction .p-search-detail a {
  padding: 10px 42px;
}

.p-arrow {
  padding-top: 65px;
}

@media (min-width: 600px) {
  .p-arrow {
    padding-top: 105px;
  }
}

@media (min-width: 1200px) {
  .p-arrow {
    padding-top: 150px;
  }
}

.p-arrow-left-block .p-left-arrow {
  padding: 0 0 15px 20px;
}

.p-arrow-right-block .p-right-arrow {
  padding: 0 0 15px 20px;
}

.l-single-main .p-single-top-visual h1 {
  margin-left: 25px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-top-visual h1 {
    margin-left: 85px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-top-visual h1 {
    margin-left: 85px;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text .p-single-main-text {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .p-single-main-text {
    margin: 60px 0;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .p-single-main-text {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text h3 {
  margin: 35px 0 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h3 {
    margin: 60px 0;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h3 {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text h5 {
  margin: 37px 0 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h5 {
    margin: 75px 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h5 {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text h6 {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h6 {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text h6 {
    margin-bottom: 60px;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source {
  margin: 30px 0 0 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source {
    margin: 60px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source {
    margin: 60px 0 0 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source a {
  margin-left: 10px;
}

.l-single-main .p-single-menu-top .p-single-main-visual .top-img {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .top-img {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
    margin: 120px 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .p-single-right-img-box {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .center-img {
  margin: 0 auto;
}

.l-single-main .p-single-menu-top .p-single-main-visual .img-group {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group {
    margin: 240px 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group {
    margin: 60px 0 53px;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo {
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo {
    margin-bottom: 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main-visual .img-group-solo:nth-child(9) {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-list-text .p-list-group-number {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-list-text .p-list-group-number {
    margin-left: 50px;
  }
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-number li:nth-child(2) {
  margin: 20px 0 20px 20px;
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-normal {
  margin: 60px 0 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-list-text .p-list-group-normal {
    margin: 60px 0 60px 50px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .p-list-text .p-list-group-normal {
    margin: 60px 0 60px 50px;
  }
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-normal li:nth-child(2) {
  margin: 20px 0 20px 20px;
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-code-sub {
  margin-left: 40px;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-list-text .p-table-box {
    margin: 60px 0;
  }
}

.l-single-main .p-single-menu-top .bold-text {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .bold-text {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .bold-text {
    margin-top: 60px;
  }
}

.l-single-main .p-single-menu-top {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top {
    padding: 0 100px;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block {
  padding: 30px 20px 0;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block {
    padding: 50px 50px 0;
  }
}

.l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source {
  padding-bottom: 30px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .p-single-main__heading-text .citation-block .source {
    padding-bottom: 60px;
  }
}

.l-single-main .p-single-menu-top .p-list-text .p-list-group-code {
  padding: 50px 0 50px 50px;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box-short {
  padding-left: 30px;
}

.l-single-main .p-single-menu-top .p-list-text .p-table-box-long {
  padding-left: 30px;
}

.l-single-main .p-single-menu-top .bold-text {
  padding-bottom: 180px;
}

@media (min-width: 600px) {
  .l-single-main .p-single-menu-top .bold-text {
    padding-bottom: 230px;
  }
}

@media (min-width: 1200px) {
  .l-single-main .p-single-menu-top .bold-text {
    padding-bottom: 350px;
  }
}

.l-page-main .p-page-top-visual h1 {
  margin-left: 25px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-top-visual h1 {
    margin-left: 85px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-top-visual h1 {
    margin-left: 85px;
  }
}

.l-page-main .p-page-menu-top h2 {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top h2 {
    margin: 60px 0;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top h2 {
    margin: 60px 0;
  }
}

.l-page-main .p-page-menu-top h3 {
  margin: 35px 0 30px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top h3 {
    margin: 60px 0;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top h3 {
    margin: 60px 0;
  }
}

.l-page-main .p-page-menu-top h5 {
  margin: 37px 0 30px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top h5 {
    margin: 75px 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top h5 {
    margin: 60px 0;
  }
}

.l-page-main .p-page-menu-top h6 {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top h6 {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top h6 {
    margin-bottom: 60px;
  }
}

.l-page-main .p-page-menu-top .citation-block .source {
  margin: 30px 0 0 0;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .citation-block .source {
    margin: 60px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .citation-block .source {
    margin: 60px 0 0 0;
  }
}

.l-page-main .p-page-menu-top .citation-block .source a {
  margin-left: 10px;
}

.l-page-main .p-page-menu-top .center-img figure img {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .center-img figure img {
    margin: 60px 0;
  }
}

.l-page-main .p-page-menu-top .p-page-right-img-box {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box {
    margin: 120px 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .p-page-right-img-box {
    margin: 60px 0;
  }
}

.l-page-main .p-page-menu-top .center-img {
  margin: 0 auto;
}

.l-page-main .p-page-menu-top .img-group {
  margin: 15px 0 -15px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .img-group {
    margin: 220px 0 10px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .img-group {
    margin: 45px 0 15px;
  }
}

.l-page-main .p-page-menu-top .img-group figure img:nth-child(9) {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .l-page-main .p-list-group-number {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-list-group-number {
    margin-left: 50px;
  }
}

.l-page-main .p-list-group-number ul:nth-child(2) {
  margin: 20px 0 20px 20px;
}

.l-page-main .p-list-group-normal {
  margin: 60px 0 30px;
}

@media (min-width: 600px) {
  .l-page-main .p-list-group-normal {
    margin: 60px 0 60px 50px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-list-group-normal {
    margin: 60px 0 60px 50px;
  }
}

.l-page-main .p-list-group-normal ul:nth-child(2) {
  margin: 20px 0 20px 20px;
}

.l-page-main .p-list-group-code-sub {
  margin-left: 40px;
}

.l-page-main .p-table-box {
  margin: 30px 0;
}

@media (min-width: 600px) {
  .l-page-main .p-table-box {
    margin: 60px 0;
  }
}

.l-page-main .bold-text {
  margin-top: 30px;
}

@media (min-width: 600px) {
  .l-page-main .bold-text {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .bold-text {
    margin-top: 60px;
  }
}

.l-page-main .p-page-menu-top {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top {
    padding: 0 100px;
  }
}

.l-page-main .p-page-menu-top .citation-block {
  padding: 30px 20px 0;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .citation-block {
    padding: 50px 50px 0;
  }
}

.l-page-main .p-page-menu-top .citation-block .source {
  padding-bottom: 30px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .citation-block .source {
    padding-bottom: 60px;
  }
}

.l-page-main .p-page-menu-top .p-list-group-code {
  padding: 50px 0 50px 50px;
}

.l-page-main .p-page-menu-top .p-table-box-short {
  padding-left: 30px;
}

.l-page-main .p-page-menu-top .p-table-box-long {
  padding-left: 30px;
}

.l-page-main .p-page-menu-top .bold-text {
  padding-bottom: 180px;
}

@media (min-width: 600px) {
  .l-page-main .p-page-menu-top .bold-text {
    padding-bottom: 230px;
  }
}

@media (min-width: 1200px) {
  .l-page-main .p-page-menu-top .bold-text {
    padding-bottom: 350px;
  }
}

.l-error-404-main .error-404 {
  margin: 0 auto;
}

.l-error-404-main .error-404 p {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .l-error-404-main .error-404 p {
    margin-top: 50px;
  }
}

.l-error-404-main .error-404 .error-404-title {
  padding-top: 30px;
}
/*# sourceMappingURL=hamburger.css.map */