@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/* モダンリセットCSS */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: M1m;
}

body {
  background-color: #F2EDE9;
  font-family: 'M PLUS 1p', sans-serif;
}

/* ==========================================================================
   Layout
   ========================================================================== */
.l-container {
  display: block;
}

@media (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 20%;
  }
}

.l-header {
  grid-row: 1;
  grid-column: 1/2;
}

.l-sidebar {
  grid-row: 1;
  grid-column: 2;
}

.l-main {
  grid-row: 2;
  grid-column: 1;
}

.l-footer {
  grid-row: 3;
  grid-column: 1/3;
}

.l-header {
  background-color: #FFF7EF;
  height: 217px;
  display: block;
  text-align: center;
}

@media (min-width: 1025px) {
  .l-header {
    display: flex;
    justify-content: space-between;
  }
}

.l-main {
  background-color: #FFFFFF;
}

.l-sidebar {
  display: none;
}

@media (min-width: 1025px) {
  .l-sidebar {
    display: block;
  }
}

.l-footer {
  height: 150px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-image: url(/images/footer_img.png);
}

/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
.c-button--submit {
  display: inline-block;
  position: relative;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #707070;
  cursor: pointer;
}

.c-input--keyword {
  width: 230px;
  padding-left: 10px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  color: black;
  content: "\f002";
  font-weight: 900;
  height: 46px;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 25px;
}

@media (min-width: 600px) {
  .c-input--keyword {
    width: 396px;
  }
}

/* Project
   ----------------------------------------------------------------- */
.p-access__map {
  background-image: url(/images/front-page_screenshot.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.p-access {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 691px;
}

@media (min-width: 600px) {
  .p-access {
    height: 415px;
  }
}

@media (min-width: 1025px) {
  .p-access {
    height: 650px;
  }
}

.p-access__back {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 415px;
}

@media (min-width: 600px) {
  .p-access__back {
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .p-access__back {
    width: 61.5%;
    height: 100%;
  }
}

.p-access__back .p-access__text {
  color: #FFFFFF;
  font-weight: bold;
  width: 78.6%;
}

@media (min-width: 600px) {
  .p-access__back .p-access__text {
    width: 91.4%;
  }
}

@media (min-width: 1025px) {
  .p-access__back .p-access__text {
    width: 73%;
  }
}

.p-access__back .p-access__text h2 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

@media (min-width: 1025px) {
  .p-access__back .p-access__text h2 {
    font-size: 36px;
  }
}

.p-access__back .p-access__text h2::before {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 65px;
}

@media (min-width: 1025px) {
  .p-access__back .p-access__text h2::before {
    top: 107px;
  }
}

.p-access__back .p-access__text p {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.35;
}

@media (min-width: 1025px) {
  .p-access__back .p-access__text p {
    font-size: 16px;
    line-height: 2;
  }
}

.p-branch-menu {
  height: 1374px;
  width: 100%;
}

@media (min-width: 600px) {
  .p-branch-menu {
    height: 761px;
  }
}

@media (min-width: 1025px) {
  .p-branch-menu {
    height: 1447px;
  }
}

.p-branch-menu ul {
  display: block;
}

@media (min-width: 600px) {
  .p-branch-menu ul {
    display: flex;
    justify-content: center;
  }
}

.p-footer__menu {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.p-footer__menu .p-pseudo {
  position: relative;
}

.p-footer__menu li:nth-child(1) {
  margin-right: 17px;
}

.p-footer__menu li:nth-child(2) {
  margin-left: 17px;
}

.p-footer__menu .p-pseudo::before {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background-color: #FFFFFF;
  position: absolute;
  top: 5px;
  left: 135px;
}

.p-footer__menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  font-size: 14px;
  color: #FFFFFF;
}

h1 a {
  font-size: 40px;
  font-family: Roboto;
  color: #707070;
  text-decoration: none;
}

@media (min-width: 1025px) {
  h1 a {
    font-size: 64px;
  }
}

.p-take-out {
  background-image: url(/images/front-page_main_img01.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  width: 89%;
}

@media (min-width: 600px) {
  .p-take-out {
    height: 681px;
    width: 42.8%;
  }
}

@media (min-width: 1025px) {
  .p-take-out {
    height: 1200px;
    width: 40%;
  }
}

.p-take-out h2 {
  font-size: 41px;
  color: #EAEAEA;
  font-family: Roboto;
  position: relative;
}

@media (min-width: 600px) {
  .p-take-out h2 {
    font-size: 44px;
  }
}

@media (min-width: 1025px) {
  .p-take-out h2 {
    font-size: 80px;
  }
}

.p-take-out h2::before {
  content: "";
  display: block;
  width: 63px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 75px;
}

@media (min-width: 600px) {
  .p-take-out h2::before {
    top: 70px;
  }
}

@media (min-width: 600px) and (min-width: 1025px) {
  .p-take-out h2::before {
    top: 150px;
  }
}

.p-take-out__section1, .p-take-out__section2 {
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 94%;
  height: 163px;
}

@media (min-width: 600px) {
  .p-take-out__section1, .p-take-out__section2 {
    width: 93.5%;
    height: 172px;
  }
}

@media (min-width: 1025px) {
  .p-take-out__section1, .p-take-out__section2 {
    width: 90%;
    height: 175px;
  }
}

.p-take-out__section1 dt, .p-take-out__section2 dt {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-take-out__section1 dt, .p-take-out__section2 dt {
    font-size: 24px;
  }
}

.p-take-out__section1 dd, .p-take-out__section2 dd {
  color: #3C2A10;
}

.p-eat-in {
  background-image: url(/images/front-page_main_img02.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  width: 89%;
}

@media (min-width: 600px) {
  .p-eat-in {
    height: 681px;
    width: 42.8%;
  }
}

@media (min-width: 1025px) {
  .p-eat-in {
    height: 1200px;
    width: 40%;
  }
}

.p-eat-in h2 {
  font-size: 41px;
  color: #EAEAEA;
  font-family: Roboto;
  position: relative;
}

@media (min-width: 600px) {
  .p-eat-in h2 {
    font-size: 44px;
  }
}

@media (min-width: 1025px) {
  .p-eat-in h2 {
    font-size: 80px;
  }
}

.p-eat-in h2::before {
  content: "";
  display: block;
  width: 63px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 75px;
}

@media (min-width: 600px) {
  .p-eat-in h2::before {
    top: 70px;
  }
}

@media (min-width: 600px) and (min-width: 1025px) {
  .p-eat-in h2::before {
    top: 150px;
  }
}

.p-eat-in__section1, .p-eat-in__section2 {
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 94%;
  height: 163px;
}

@media (min-width: 600px) {
  .p-eat-in__section1, .p-eat-in__section2 {
    width: 93.5%;
    height: 172px;
  }
}

@media (min-width: 1025px) {
  .p-eat-in__section1, .p-eat-in__section2 {
    width: 90%;
    height: 175px;
  }
}

.p-eat-in__section1 dt, .p-eat-in__section2 dt {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}

@media (min-width: 600px) {
  .p-eat-in__section1 dt, .p-eat-in__section2 dt {
    font-size: 24px;
  }
}

.p-eat-in__section1 dd, .p-eat-in__section2 dd {
  color: #3C2A10;
}

.p-search-form .c-button--submit {
  top: -2px;
  height: 46px;
  padding: 12px 23px;
}

@media (min-width: 1025px) {
  .p-search-form .c-button--submit {
    padding: 12px 52px;
  }
}

.p-side__menu-logo {
  font-family: Roboto;
  font-size: 34px;
  color: #707070;
}

.p-side__sub-menu-logo {
  font-size: 24px;
  font-weight: bold;
  color: #707070;
}

ul li a {
  font-size: 20px;
  color: #707070;
  text-decoration: none;
}

.p-top-visual {
  background-image: url(/images/front-page_top_img.png);
  width: 100%;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) {
  .p-top-visual {
    height: 530px;
  }
}

.p-top-visual h2 {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
}

@media (min-width: 1025px) {
  .p-top-visual h2 {
    font-size: 40px;
  }
}

/* Utility
   ----------------------------------------------------------------- */
.l-header h1 {
  padding-top: 27px;
}

@media (min-width: 1025px) {
  .l-header h1 {
    margin: 30px 0 0 65px;
  }
}

.l-header .p-search-form {
  margin-top: 27px;
}

@media (min-width: 1025px) {
  .l-header .p-search-form {
    margin-top: 85px;
    margin-right: 30px;
  }
}

.l-header .p-search-form .c-button--submit {
  margin-left: 7px;
}

.l-sidebar .p-side__menu-logo {
  margin: 82px 0 85px 45px;
}

.l-sidebar .p-sidebar__burger, .l-sidebar .p-sidebar__side, .l-sidebar .p-sidebar__drink {
  margin-left: 45px;
}

.l-sidebar .p-sidebar__burger .p-side__sub-menu-logo, .l-sidebar .p-sidebar__side .p-side__sub-menu-logo, .l-sidebar .p-sidebar__drink .p-side__sub-menu-logo {
  margin-bottom: 40px;
}

.l-sidebar .p-sidebar__burger ul, .l-sidebar .p-sidebar__side ul, .l-sidebar .p-sidebar__drink ul {
  margin-left: 20px;
}

.l-sidebar .p-sidebar__burger ul li, .l-sidebar .p-sidebar__side ul li, .l-sidebar .p-sidebar__drink ul li {
  margin-bottom: 23px;
}

.l-sidebar .p-sidebar__burger ul li:last-child, .l-sidebar .p-sidebar__side ul li:last-child, .l-sidebar .p-sidebar__drink ul li:last-child {
  margin-bottom: 40px;
}

.p-take-out {
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  .p-take-out {
    margin: 40px 0 0 0;
  }
}

@media (min-width: 1025px) {
  .p-take-out {
    margin: 120px 0 0 0;
  }
}

.p-take-out h2 {
  margin: 15px 0 0 20px;
}

.p-take-out__section1 {
  margin: 235px auto 10px;
}

@media (min-width: 1025px) {
  .p-take-out__section1 {
    margin: 670px auto 20px;
  }
}

.p-take-out__section2 {
  margin: 0 auto;
}

.p-eat-in {
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  .p-eat-in {
    margin: 40px 0 0 40px;
  }
}

@media (min-width: 1025px) {
  .p-eat-in {
    margin: 120px 0 0 80px;
  }
}

.p-eat-in h2 {
  margin: 15px 0 0 20px;
}

.p-eat-in__section1 {
  margin: 235px auto 10px;
}

@media (min-width: 1025px) {
  .p-eat-in__section1 {
    margin: 670px auto 20px;
  }
}

.p-eat-in__section2 {
  margin: 0 auto;
}

.p-access__text {
  margin: 0 auto;
}

.p-access__text h2 {
  margin-top: 40px;
}

@media (min-width: 1025px) {
  .p-access__text h2 {
    margin-top: 80px;
  }
}

.p-access__text p {
  margin-top: 40px;
}

@media (min-width: 1025px) {
  .p-access__text p {
    margin-top: 113px;
  }
}

.p-top-visual h2 {
  padding-left: 25px;
}

@media (min-width: 600px) {
  .p-top-visual h2 {
    padding-left: 85px;
  }
}

.p-take-out dt, .p-eat-in dt {
  padding: 20px 0 0 10px;
}

@media (min-width: 1025px) {
  .p-take-out dt, .p-eat-in dt {
    padding: 20px 0 0 20px;
  }
}

.p-take-out dd, .p-eat-in dd {
  padding: 23px 0 0 10px;
}

@media (min-width: 1025px) {
  .p-take-out dd, .p-eat-in dd {
    padding: 23px 0 0 20px;
  }
}

.p-footer__menu {
  padding: 40px 0 35px;
}
/*# sourceMappingURL=style.css.map */