@charset "UTF-8";
// ヘッダー部検索ボタン
// ボタンのデフォルト値（細かいサイズの調整などはこのファイルには記述しない）
.c-button--submit {
    display: inline-block;
    position: relative;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid #707070;
    cursor: pointer;
}
.p-menu-button {
    height: 20px;
}
.c-button--menu1 {
    text-align: right;
    .c-button--menu {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        background-color: #FFF7EF;
        color: #707070;
        border: none;
        cursor: pointer;
        position: relative;
        top: 15px;
        right: 15px;
        @include tab {
            font-size: 34px;
            top: 20px;
            right: 25px;
        }
        @include pc {
            display: none;
        }
    }
}