@charset "UTF-8";
.p-archive-top-visual {
    p {
        @include tab {
            margin-left: 20px; 
        }
    }
}
.p-archive-menu-top {
    .p-archive-main__heading-text {
        h3 {
            margin: 30px 0 30px 0;
        }
    }
}
.p-archive-main-visual {
    margin: 20px 20px 0 20px;
    @include tab {
        margin: 40px 40px 0 40px;
    }
    @include pc {
        margin: 30px 100px 0 100px;
    }
    .p-archive-burger-menu {
        .p-archive-menu_introduction {
            h5 {
                margin: 25px 0 10px 0;
            }
            .p-archive-detail {
                margin: 100px auto 45px;
                @include pc {
                    margin: 150px auto 0;
                }
            }
        }
    }
}
.p-arrow {
    .p-pagination {
        .wp-pagenavi {
            a, span {
                @include tab {
                    margin-right: 15px;
                }
                @include pc {
                    margin-right: 15px;
                }
            }
            .previouspostslink {
                margin-left: 20px;
            }
            .nextpostslink {
                margin-right: 20px;
            }
        }
    }
}
    