@charset "UTF-8";
.p-archive-top-visual {
    p {
        @include tab {
            margin-left: 20px; 
        }
    }
}

.p-archive-menu-top {
    .p-archive-main__heading-text {
        h3 {
            margin: 30px 0 30px 0;
        }
    }
}


.p-archive-main-visual {
    margin: 20px 20px 0 20px;
    @include tab {
        margin: 40px 40px 0 40px;
    }
    .p-burger-menu {
        .p-menu_introduction {
            h5 {
                margin: 25px 0 10px 0;
            }
            .detail {
                margin: 50px auto 45px;
            }
        }
    }
}