@charset "UTF-8";
// ヘッダー
.l-header {
    .p-header__sub {
        margin-top: 15px;
        @include tab {
            margin-top: -5px;
        }
        @include pc {
            margin-top: 35px;
        }
        h1 {
            @include pc {
                margin: 30px 0 0 65px;
            }
        }
        // 検索フォーム
        .p-search-form {
            margin-top: 27px; 
            @include pc {   
                margin: 50px 30px 0 0;
            }
            .c-button--submit {    //検索ボタン
                margin-left: 7px;
            }
        }
    }
}
// サイドバー
.l-sidebar {
    // ここからWordPress化で崩れたスタイルを修正
    .add-class {
        ul .menu-item-type-taxonomy > a {
            margin-bottom: 40px;
        }
    }   //ここまで
    .p-side-menu-logo {
       margin: 82px 0 85px 45px;
    }
    .c-close__button {
        margin-right: 35px;
    }
    .p-sidebar__burger {
        margin-top: 210px;
        @include pc {
            margin-top: 0;
        }
    }
    .p-sidebar__burger, .p-sidebar__side, .p-sidebar__drink {
        margin-left: 45px;
        @include pc {
            margin-left: 20px;
        }
        // .p-side__sub-menu-logo {
            // margin-bottom: 40px;
        // }
        ul {
            margin-left: 20px;
            li {
                margin-bottom: 23px;
            }
            li:last-child {
                margin-bottom: 40px;
            }
        }
    }
}
// メイン
// テイクアウト
.p-take-out {
    margin: 20px auto 0;
    @include tab {
        margin: 40px 0 0 0;
    }
    @include pc {
        margin: 120px 0 0 0;
    }
    // テイクアウト見出し
    h2 {
        margin: 15px 0 0 20px;
    }
    // テイクアウト説明文1
    &__section1 {
            margin: 235px auto 10px;
        @include pc {
            margin: 670px auto 20px ;
        }
    }
    // テイクアウト説明文2
    &__section2 {
        margin: 0 auto ;
    }
}
// イートイン
.p-eat-in {
    margin: 20px auto 0;
    @include tab {
        margin: 40px 0 0 40px;
    }
    @include pc {
        margin: 120px 0 0 80px;
    }
    // イートイン見出し
    h2 {
        margin: 15px 0 0 20px;
    }
    // イートイン説明文1
    &__section1 {
            margin: 235px auto 10px;
        @include pc {
            margin: 670px auto 20px;
        }
    }
    // イートイン説明文2
    &__section2 {
        margin: 0 auto ;
    }
}
// アクセス
// 説明文
.p-access__text {
    margin: 0 auto;
    h2 {
        margin-top: 40px;
        @include pc {
            margin-top: 80px;
        }
    }
    p {
        margin-top: 40px;
        @include pc {
            margin-top: 105px;
        }
    }
}
// フッター
.p-footer__menu {
    li:nth-child(1) {
        margin-right: 17px;
    }
    li:nth-child(2) {
        margin-left: 17px;
    }
}