.p-search-form__submit {
    margin-left: 7px;
}

.l-sidebar {
    h2 {
       margin-top: 82px;
       margin-left: 46px;
       margin-bottom: 85px; 
    }
}

.l-footer__menu {
    margin-top: 40px;
    margin-bottom: 35px;
}

