@charset "UTF-8";
// メイン
// トップ画像
.p-top-visual {
    // トップ画像見出し
    h2 {
        padding-left: 25px;
        @include tab {
            padding-left: 85px;
        }
    }
}
// テイクアウト、イートイン説明文見出し
.p-take-out dt, .p-eat-in dt {
    padding: 20px 0 0 10px;
    @include pc {
        padding: 20px 0 0 20px;
    }
}
// テイクアウト、イートイン説明文
.p-take-out dd, .p-eat-in dd {
    padding: 23px 0 0 10px;
    @include pc {
        padding: 23px 0 0 20px;
    }
}

// フッター
.p-footer__menu {
    padding: 40px 0 35px;
}
