@charset "UTF-8";
.top-header {
    h2 {
        padding: 230px 0 0 85px;
    }
}
.take-out dt, .eat-in dt {
    padding: 20px 0 0 20px;
}
.take-out dd, .eat-in dd {
    padding: 23px 0 0 20px;
}

.l-text {
    padding-top: 80px;
}