@charset "UTF-8";
// メイン
// トップ画像
.l-top-header {
    // トップ画像見出し
    h2 {
        padding: 230px 0 0 85px;
    }
}
// テイクアウト、イートイン説明文見出し
.l-take-out dt, .l-eat-in dt {
    padding: 20px 0 0 20px;
}
// テイクアウト、イートイン説明文
.l-take-out dd, .l-eat-in dd {
    padding: 23px 0 0 20px;
}


