@charset "UTF-8";
.p-search-top-visual {
    padding: 100px 0 0 38px; 
    @include tab {
        padding: 0 0 0 85px;
    }
}
.p-search-main__heading-text {
    padding: 0 20px 0 20px;
    @include tab {
        padding: 0 40px 0 40px;
    }
    @include pc {
        padding: 0 100px 0 100px;
    }
}



.p-search-main-visual {
    .p-burger-menu {
        .p-menu_introduction {
            &_sub {
                padding: 32px 70px 0 20px;
                @include tab {
                    padding: 32px 40px 0 35px;
                }
            }
            .detail {
                a {
                    padding: 10px 42px;
                }
            }
        }
    }
}
.p-arrow {
    padding-top: 65px;
    @include tab {
        padding-top: 105px;
    }
    @include pc {
        padding-top: 150px;
    }
    &-left-block {
        .p-left-arrow {
            padding: 0 0 15px 20px;
        }
    }
    &-right-block {
        .p-right-arrow {
            padding: 0 0 15px 20px;
        }
    }
}