@charset "UTF-8";
.p-search-top-visual {
    p {
        @include tab {
            margin-left: 20px; 
        }
    }
}
.p-search-menu-top {
    .p-search-main__heading-text {
        h3 {
            margin: 30px 0 30px 0;
        }
    }
}
.p-search-main-visual {
    margin: 20px 20px 0 20px;
    @include tab {
        margin: 40px 40px 0 40px;
    }
    @include pc {
        margin: 30px 100px 0 100px;
    }
    .p-search-burger-menu {
        .p-search-menu_introduction {
            .p-search-detail {
                margin: 50px auto 45px;
                @include pc {
                    margin: 80px auto 0;
                }
            }
        }
    }
}
.no-result {
    margin: 50px 20px 0 20px;
    @include tab {
        margin: 50px 40px 0 40px;
    }
    @include pc {
        margin: 50px 100px 500px 100px;
    }
}
