@charset "UTF-8";
.l-single-main {
    .p-single-top-visual {
        h1 {
            margin-left: 25px;
            @include tab {
                margin-left: 85px;
            }
            @include pc {
                margin-left: 85px;
            }
        }
    }
    .p-single-main__heading-text {
        margin: 30px 30px 0;
        @include tab {
            margin: 30px 50px 0;
        }
    }
}
    
    
    
    