@charset "UTF-8";
.p-archive-menu-top {
    .p-archive-main__heading-text {
        color: #3C2A10;
        h3 {
            font-size: 28px;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            font-weight: normal;
        }
    }
}