@charset "UTF-8";
.l-page-main {
    .p-page-menu-top {
        color: #3C2A10;
        .p-list-group-code {
            font-size: 16px;
            width: 100%;
            height: 240px;
            background-color: #F5F5F5;
        }
        .p-table-box {
            table {
                tbody {
                    tr {
                        border: 1px solid #707070;
                        height: 80px;
                        td {
                            border: 1px solid #707070;
                            white-space: nowrap;
                        }
                        .has-text-align-left {
                            width: 65%;
                        }
                    }
                }
            }        
        }
        .bold-text {
            font-weight: bold;
            color: #3C2A10;
        }
    }
}

    