@charset "UTF-8";
.p-search-form {
    // ボタンのサイズなど細かい調整を記述する
    .c-button--submit {
        top: -3.5px;
        height: 46px;
        width: 80px;
        @include tab {
            width: 136px;
        }
        @include pc {
            width: 80px;
        }
    }
}