@charset "UTF-8";
.p-search-menu-top {
    .p-search-main__heading-text {
        color: #3C2A10;
        h3 {
            font-size: 28px;
            font-weight: bold;
            color: #3C2A10;
        }
        p {
            font-size: 16px;
            font-weight: normal;
            color: #3C2A10;
        }
    }
}