@charset "UTF-8";
.p-side__menu-logo {
    font-family: Roboto;
    font-size: 34px;
    color: #707070;
}
.p-side__sub-menu-logo {
    font-size: 24px;
    font-weight: bold;
    color: #707070;
}
ul li a {
    font-size: 20px;
    color: #707070;
    text-decoration: none;
}