@charset "UTF-8";
.p-side-menu {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: #F2EDE9;
    // height: 100%;
    top: 0;
    right: 0;
    @include tab {
        width: 100%;
        // height: 100%;
    }
    @include pc {
        position: static;
        width: 100%;
    }
}
.p-side__menu-logo {
    display: none;
    @include pc {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        color: #707070;
    }
}
.p-side__sub-menu-logo {
    font-size: 24px;
    font-weight: bold;
    color: #707070;
}
.p-side-menu ul li a {
    font-size: 20px;
    color: #707070;
    text-decoration: none;
    @include pc {
        font-size: 1.4vw;
    }
}
.is-open {
    left: 12.5%;
    @include tab {
        left: 56%;
    }
}