@charset "UTF-8";
.p-single-top-visual {
    background-image: url(../images/single_top_img.png);
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 100%;
    display: flex;
    align-items: center;
    @include tab {
        height: 500px;
    }
    @include pc {
        height: 500px;
    }
    h1 {
        color: #FFFFFF;
        font-size: 36px;
        font-family: 'Roboto', sans-serif;
        @include tab {
            font-size: 60px;
        }
        @include pc {
            font-size: 60px; 
        }
    }
}