@charset "UTF-8";
// コンテナー
.l-container {
    display: block;
    
    @include pc {
        display: grid;
        grid-template-rows: 217px 1fr 150px;    //ヘッダー縦幅217px、フッター縦幅150px
        grid-template-columns: 1fr 20%;         //メインコンテンツの横幅1553px、サイドバーの横幅367pxなのでそれぞれパーセントにする。メインコンテンツ1553px÷(1553px+367px)X100%=80%。サイドバー367px÷(1553px+367px)X100%=20%。
    }
}
// ヘッダーのグリッド
.l-header {
    grid-row: 1;
    grid-column: 1/2;
}
// サイドバーのグリッド
.l-sidebar {
    grid-row: 1;
    grid-column: 2;
    // min-width: 250px;
}
// メインのグリッド
.l-main {
    grid-row: 2;
    grid-column: 1
}
// フッターのグリッド
.l-footer {
    grid-row: 3;
    grid-column: 1/3;
}