@charset "UTF-8";
.l-footer {
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-image: url(/images/footer_img.png);
    &__menu {
        font-size: 20px;
        color: #FFFFFF;
    }
    .copyright {
        font-size: 14px;
        color: #FFFFFF;
    }
}