@charset "UTF-8";
.l-header {
    background-color: #FFF7EF;
    height: 217px;
    display: block;
    text-align: center;
    @include pc {
        display: flex;
        justify-content: space-between;
    }
}
