@charset "UTF-8";
.l-header {
    background-color: #FFF7EF;
    height: 217px;
    display: flex;
    justify-content: space-between;
    h1 a {
        font-size: 64px;
        font-family: Roboto;
        color: #707070;
        text-decoration: none;
    }
}
