.top-header {
    img {
        width: 100%;
        height: 530px;
        object-fit: cover;
    }
}

.branch-menu {
    height: 1447px;
    ul {
        display: flex;
        justify-content: center;
        .take-out {
            background-image: url(/images/front-page_main_img01.png);
            background-repeat: no-repeat;
            height: 1200px;
            h2 {
                color: #EAEAEA;
            }
        }
        .eat-in {
            background-image: url(/images/front-page_main_img02.png);
            background-repeat: no-repeat;
            height: 1200px;
            h2 {
                color: #EAEAEA;
            }
        }
    }
}