@charset "UTF-8";
// メイン
.l-main {
    background-color: #FFFFFF;
    // トップ画像
    .l-top-header {
        background-image: url(/images/front-page_top_img.png);
        width: 100%;
        height: 285px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        @include pc {
            height: 530px;
        }
        // トップ画像見出し
        h2 {
            font-size: 36px;
            font-weight: bold;
            color: #FFFFFF;
            @include pc {
                font-size: 40px;
            }
        }
    }
    // ブランチメニュー
    .l-branch-menu {
        height: 1374px;
        width: 100%;
        @include tab {
            height: 761px;
        }
        @include pc {
            height: 1447px;
        }
        ul {
            display: block;
            @include tab {
                display: flex;  //テイクアウトのブロックとイートインのブロックを横並びにする
                justify-content: center;    //横並びにしたテイクアウトとイートインを画面センターに移動
            }
            // テイクアウト
            .l-take-out {
                background-image: url(/images/front-page_main_img01.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 642px;
                width: 89%;
                @include tab {
                    height: 681px;
                    width: 42.8%;
                }
                @include pc {
                    height: 1200px;
                    width: 40%;
                }
                // テイクアウト見出し
                h2 {
                    font-size: 41px;
                    color: #EAEAEA;
                    font-family: Roboto;
                    position: relative; //装飾線の基準位置にするため
                    @include tab {
                        font-size: 44px;
                    }
                    @include pc {
                        font-size: 80px;
                    }
                }
                // テイクアウト見出しの装飾線
                h2::before {
                    content: "";    //擬似要素で必須
                    display: block;
                    width: 63px;    //装飾線の長さ
                    height: 4px;    //装飾線の太さ
                    background-color: #FFFFFF;  //装飾線の色
                    position: absolute; //テイクアウト見出しの位置を基準とする
                    left: 0;
                    top: 75px;
                    @include tab {
                        top: 70px;
                        @include pc {
                            top: 150px; //テイクアウト見出しの位置から下に150px移動
                        }
                    }
                }            
                // テイクアウト説明文
                &__section1, &__section2 {
                    background-color: #FFFFFF;
                    opacity: 0.8;
                    width: 94%;
                    height: 163px;
                    @include tab {
                        width: 93.5%;
                        height: 172px;
                    }
                    @include pc {
                        width: 90%;
                        height: 175px;
                    }
                    dt {
                        font-size: 22px;
                        font-weight: bold;
                        color: #3C2A10;
                        @include tab {
                            font-size: 24px;
                        }
                    }
                    dd {
                        color: #3C2A10;
                    }
                }
            }
            // イートイン
            .l-eat-in {
                background-image: url(/images/front-page_main_img02.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 642px;
                width: 89%;
                @include tab {
                    height: 681px;
                    width: 42.8%;
                }
                @include pc {
                    height: 1200px;
                    width: 40%;
                }
                // イートイン見出し
                h2 {
                    font-size: 41px;
                    color: #EAEAEA;
                    font-family: Roboto;
                    position: relative; //装飾線の基準位置にするため
                    @include tab {
                        font-size: 44px;
                    }
                    @include pc {
                        font-size: 80px;
                    }
                }
                // イートイン見出しの装飾線
                h2::before {
                    content: "";    //擬似要素で必須
                    display: block;
                    width: 63px;    //装飾線の長さ
                    height: 4px;    //装飾線の太さ
                    background-color: #FFFFFF;  //装飾線の色
                    position: absolute; //イートイン見出しの位置を基準とする
                    left: 0;
                    top: 75px;
                    @include tab {
                        top: 70px;
                        @include pc {
                            top: 150px; //イートイン見出しの位置から下に150px移動
                        }
                    }
                }        
                // イートイン説明文
                &__section1, &__section2 {
                    background-color: #FFFFFF;
                    opacity: 0.8;
                    width: 94%;
                    height: 163px;
                    @include tab {
                        width: 93.5%;
                        height: 172px;
                    }
                    @include pc {
                        width: 90%;
                        height: 175px;
                    }
                    dt {
                        font-size: 22px;
                        font-weight: bold;
                        color: #3C2A10;
                        @include tab {
                            font-size: 24px;
                        }
                    }
                    dd {
                        color: #3C2A10;
                    }
                }
            }
        }
    }
}
// アクセス
// 最背面の黒色の背景色
.l-access {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 691px;
    @include tab {
        height: 415px;
    }
    @include pc {
        height: 650px;
    }
    // 地図
    &__map {
        background-image: url(/images/front-page_screenshot.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.6;   //地図を透過させる
    }
    // 説明文の背景色
    &__back {
        background-color: rgba(0,0,0,0.3);  //#000000で書くと説明文の文字が一緒に透過してしまうのでrgbaを使用
        position: absolute; //最背面の黒色の背景位置を基準
        top: 0;
        left: 0;
        width: 100%;
        height: 415px;
        @include tab {
            height: 100%;
        }
        @include pc {
            width: 61.5%;
            height: 100%;
        }
        // 説明文
        .l-access__text {
            color: #FFFFFF;
            font-weight: bold;
            width: 78.6%;
            @include tab {
                width: 91.4%;
            }
            @include pc {
                width: 73%;
            }
            h2 {
                font-size: 30px;
                position: relative; //装飾線の基準位置にするため
                @include pc {
                    font-size: 36px;
                }
            }
            // 説明文見出しの装飾線
            h2::before {
                content: "";    //擬似要素で必須
                display: block;
                width: 75px;    //装飾線の長さ
                height: 2px;    //装飾線の太さ
                background-color: #FFFFFF;  //装飾線の色
                position: absolute; //h2の見出しの位置を基準とする
                left: 0;
                top: 65px;
                @include pc {
                    top: 107px; //h2の見出しの位置から下に107px移動
                }
            }        
            p {
                font-size: 14px;
                line-height: 2.35;
                @include pc {
                    font-size: 16px;
                    line-height: 2;
                }
            }
        }
    }
}