@charset "UTF-8";
.l-sidebar {
    display: block;
    position: absolute;
    height: 2737px;
    top: 0;
    left: 100%; //スマホ、タブレットの時はサイドメニューを画面外に表示させる
    transition: left .1s;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 100;
    @include tab {
        height: 1828px;
    }
    @include pc {
        height: 2844px;
        display: block;
        position: static;
        width: 100%;
        background-color: #F2EDE9;
    }
}