@charset "UTF-8";
.l-sidebar {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 100%; //スマホ、タブレットの時はサイドメニューを画面外に表示させる
    transition: left .3s;
    width: 87.5%;
    z-index: 1000;
    overflow-y: scroll;

    @include tab {
        width: 44%;
    }
    @include pc {
        display: block;
        position: static;
        width: 100%;
        background-color: #F2EDE9;
        overflow: inherit;
    }
}
.is-open {
    left: 12.5%;
    @include tab {
        left: 56%;
    }
}
